html{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #87ceeb;
}

.content-right{
    display: inline-block;
    vertical-align: top;
    width: 29%;
    height: 100%;
    padding-top: 4%;
    margin: 0;
}

.logout{
    padding-left: 30%;   
}

.logout p {
    display: inline-block;    
    margin: 0;
    
}
.logout p:hover {
    display: inline-block;    
    cursor: pointer;
    color: #FFF;
}

.logout button{
    display: inline-block;
    width: 70px;
    position: absolute;
    height: 10%;
    background-color: #87ceeb;
    border: none;
}

.logout button:hover{
    cursor: pointer;
}

.logout button img{
    width: 100%;
}

.lista-hidden{
    display: none;
}

.show{
    list-style: none;
    line-height: 45px;
    width: 45%;
    background-color:  #5cacee;
    color: #FFF;
    padding: 0;
}

.logout ul li{
    width: 100%;
    text-align: center;
}

.logout ul li:hover{
    background-color: #2794ee;
    cursor: pointer;
}

.content{
    height: 100%;
    width: 70%;
    display: inline-block;
    margin: 0;
    padding-top: 4%;
}

.content h1{
    font-weight: 400;
    padding-left: 2%;
    font-size: 30px;
}

.bloco-cards{
    height: 30%;
    width: 100%;
    margin-bottom: 3%;
}

.card{
    background-color: rgb(224, 223, 223);
    height: 100%;
    width: 300px;
    margin: 3%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 10px;
}

.card:hover{
    opacity: 0.8;
}

.card p:hover{
    color: #5cacee;
}

.card img{
    height: 50%;
    padding-top: 5%;
}

@media (max-width: 1000px) {

    .card{
        width: 400px;
    }
    .logout button{
        position: absolute;
        height: 10%;

        }
}