
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #87ceeb;
    text-align: center;
}

.topo {
    display: inline-block;
    width: 100%;
    padding-top: 2%;
}

.topo h1 {
    font-weight: 400;
    font-size: 30px;
    display: inline-block;
    margin: 0;
    width: 69%;
}

.logout {
    display: inline-block;
    width: 30%;
    text-align: left;
}

.logout p {
    display: inline-block;
    margin: 0;
}

.logout p:hover {
    cursor: pointer;
    color: #FFF;
}

.logout button {
    display: inline-block;
    width: 90px;
    height: 30px;
    background-color: #87ceeb;
    border: none;
}

.logout button:hover {
    cursor: pointer;
}

.logout button img {
    width: 100%;
}

.lista-hidden {
    display: none;
}

.show {
    list-style: none;
    line-height: 45px;
    width: 115px;
    background-color: #5cacee;
    color: #FFF;
    padding: 0;
    position: absolute;
    border: 1px solid black;
}

.logout ul li {
    width: 100%;
    text-align: center;
}

.logout ul li:hover {
    background-color: #2794ee;
    cursor: pointer;
}

.card {
    background-color: rgb(224, 223, 223);
    height: 250px;
    width: 300px;
    margin: 5% 1% 1% 1%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-radius: 10px;
}

.card:hover {
    opacity: 0.8;
}

.card p:hover {
    color: #5cacee;
}

.card img {
    width: 50%;
    padding-top: 5%;
}

.content-right {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    height: 100%;
    padding-top: 4%;
    margin: 0;
}

@media (max-width: 400px) {

    .topo h1{
        font-size: 24px;
        text-align: left;
    }

    .topo h1{
        width: 50%;
    }

    .logout{
        width: 30%;
    }

    .logout button{
        width: 60px;
        height: 20px;
    }

    .card{
        height: 170px;
        width: 200px;
    }

}
