html, body {
    padding: 0;
    margin: 0;
    font-size: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

footer {
    height: 162px;
    background-color: #6495ed;
    display: grid;
    grid-template-columns: 21.4% 21% 21% 36.6%;
}

.icone {
    height: 162px;
    padding-left: 13.95%;
    padding-right: 19%;

}

.icone img {
    height: 162px;
}

.sobre_nos {
    vertical-align: top;
    padding-left: 30%;
    padding-right: 15%;
}

.sobre_nos h3 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 7px;
}

.sobre_nos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sobre_nos li {
    display: inline-block;
    font-size: 16px;
}

.sobre_nos li a {
    color: white;
    text-decoration: none;
}

.sobre_nos li a:hover {
    color: black;
}

.duvidas {
    vertical-align: top;
    padding-left: 40%;
    padding-right: 15%;
}

.duvidas h3 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 7px;
}

.duvidas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.duvidas li {
    display: inline-block;
    font-size: 16px;
}

.duvidas li a {
    color: white;
    text-decoration: none;
}

.duvidas li a:hover {
    color: black;
}

hr {
    display: none;
}

.redes_sociais {
    vertical-align: top;
    text-align: right;
    padding-right: 19.43%;
}

.redes_sociais h3 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 7px;
}

.redes_sociais ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 2.5%;
}

.redes_sociais li {
    display: inline-block;
}


@media (max-width: 1000px) {
    footer {
        height: 276px;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 49% 1% 49%;
        grid-template-areas: "um dois tres"
        "quatro quatro quatro"
        "cinco cinco cinco";
    }

    .icone {
        padding-right: 5%;
        height: 132px;
        grid-area: um;
    }

    .icone img {
        height: 132px;
    }

    .sobre_nos {
        height: 132px;
        padding-left: 10%;
        padding-right: 0;
        text-align: left;
        grid-area: dois;
    }

    .sobre_nos h3 {
        padding-top: 40px;
    }

    .sobre_nos li {
        font-size: 14px;
    }

    .duvidas {
        height: 132px;
        vertical-align: top;
        padding-left: 10%;
        padding-right: 0;
        text-align: left;
        grid-area: tres;
    }

    .duvidas h3 {
        padding-top: 40px;
    }

    .duvidas li {
        font-size: 14px;
    }

    hr {
        display: block;
        width: 90%;
        height: 2px;
        margin-top: 0;
        margin-bottom: 0;
        grid-area: quatro;
        background-color: black;
        border: none;
    }

    .redes_sociais {
        width: 100%;
        display: inline-block;
        padding-top: 15px;
        grid-area: cinco;
        text-align: center;
    }

    .redes_sociais h3 {
        display: inline-block;
        margin-top: 13px;
        padding-right: 5%;
        padding-left: 3%;
        padding-top: 30px;
        vertical-align: top;
    }

    .redes_sociais ul {
        display: inline-block;
        padding-top: 30px;
    }
}

@media (max-width: 650px) {
    .redes_sociais h3 {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .redes_sociais h3 {
        font-size: 16px;
        padding-top: 15px;
        margin-top: 0;
    }

    .redes_sociais ul {
        display: block;
        padding-top: 5px;
    }
}
