html, body {
    padding: 0;
    margin: 0;
    font-size: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

footer {
    height: 162px;
    background-color: #6495ed;
    padding-left: 4.16%;
    padding-right: 7.5%;
}

footer div {
    display: inline-block;
}

.icone {
    height: 162px;
    padding-right: 19%;
}

.icone img {
    height: 162px;
}

.sobre_nos {
    vertical-align: top;
    padding-right: 19%;
}

.sobre_nos h3 {
    margin: 0;
    padding-top: 47px;
    padding-bottom: 7px;
}

.sobre_nos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sobre_nos li {
    display: inline-block;
}

.sobre_nos li a {
    color: white;
    text-decoration: none;
}

.sobre_nos li a:hover {
    color: black;
}

.duvidas {
    vertical-align: top;
    padding-right: 19%;
}

.duvidas h3 {
    margin: 0;
    padding-top: 47px;
    padding-bottom: 7px;
}

.duvidas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.duvidas li {
    display: inline-block;
}

.duvidas li a {
    color: white;
    text-decoration: none;
}

.duvidas li a:hover {
    color: black;
}

hr {
    display: none;
}

.redes_sociais {
    vertical-align: top;
}

.redes_sociais h3 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 7px;
}

.redes_sociais ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.redes_sociais li {
    display: inline-block;
}


@media (max-width: 1000px) {
    footer {
        height: 276px;
        background-color: #6495ed;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .icone {
        padding-right: 5%;
        height: 132px;
    }

    .icone img {
        height: 132px;
    }

    .sobre_nos {
        padding-left: 5%;
        padding-right: 0;
        text-align: left;
    }

    .sobre_nos h3 {
        padding-top: 40px;
    }

    .duvidas {
        vertical-align: top;
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
    }

    .duvidas h3 {
        padding-top: 40px;
    }

    hr {
        display: block;
        width: 90%;
        margin-top: 0;
        margin-bottom: 0;
        border: 0.5px solid black;
    }

    .redes_sociais {
        width: 100%;
        display: inline-block;
        padding-top: 15px;
    }

    .redes_sociais h3 {
        display: inline-block;
        margin-top: 13px;
        padding-right: 5%;
        padding-top: 30px;
        vertical-align: top;
    }

    .redes_sociais ul {
        display: inline-block;
        padding-top: 30px;
    }
}