html,
body {
    text-align: center;
    background-color: #87ceeb;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

h3 {
    font-weight: 400;
    padding-top: 10px;
}

.flex-container {
    padding-top: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 400px;
    height: 600px;
    margin: 1%;
    margin-bottom: 5%;
    border: solid 0.5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.text-area {
    margin: 15px;
    text-align: justify;
}

.text-area h2 {
    text-align: left;
    margin-top: 0;
}

.text-area p {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}