body{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.container {
    max-width: 90vw;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(166, 198, 226, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1{
    color: white;
    padding: 15px;
    text-align: center;
    background-color: #6495ED;
    border-radius: 5px;
    border: 1px solid white;
}

.botao-add img{
    width: 45px;
    height: 45px;
}



table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;;
}

th{
    background-color: #6495ED;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid white;
}

.acoes{
 text-align: center;
}

td{
    padding: 10px;
    text-align: center;
    color: black;
    border-bottom: 1px solid white;
}

.tabela img{
    width: 25px;
    height: 25px;
}

button{
    padding-left: 0;
    background: none;
    border: none;
    cursor: pointer;
}

button:hover{
    opacity:0.5;
}

@media (max-width: 600px){
    .container {
        max-width: 100vw;
        height: 100vh;
    }
    .tabela {
        display: block;
        position: relative;
        width: 100%;
      }
      
    .tabela thead, .tabela tbody, .tabela th, .tabela td, .tabela tr {
        display: block;
      }

    .tabela th, .tabela td{
        height: 35px;
    }

    .tabela thead{
        float: left;
    }

    .tabela tbody{
        width: auto;
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
      }

      .tabela tbody tr{
        display: inline-block;
      }
}