body{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}



/* ------------------------------ Image Background ---------------------------*/
.container{

    height: 100vh;
    width: 100vw;
    background: url("../assets/fundo-login.png");
    background-size: cover;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* ------------------------------ Fundo Login ---------------------------*/
.tela-login{
    background-color: rgba(103, 149, 237);



    

    border-radius: 15px;
    border: 2px groove white;
    box-shadow: 5px 5px 10px black;

    margin:0;
    padding: 0;
}



/* ------------------------------ Logo ---------------------------*/
.logo{
    height: fit-content;
    width: fit-content;
    margin: 2% auto;
}
.logo img{ 


    width: 370px;
    height: 370px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #000;
}

.div_login{
    margin: 0 auto;
}

/* ------------------------------ Texto Login ---------------------------*/
.text-login h1{ 
    width:fit-content;
    font-size:80px;
    text-shadow: 5px 5px 2px rgba(0,0,0,0.8);

    margin: 5% auto;
}



/* ------------------------------ Div E-mail ---------------------------*/
.campo-email{
    background-color: rgb(166, 198,226,0.6);

    height: 60px;
    width: 90%;
    max-width: 430px;
    border-radius: 10px; 

    margin: 0 auto;
}
.campo-email img{
    width: 40px;
    height: 40px;
    float: left;

    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0, -50%); 
}
.campo-email input{
    background-color: transparent;

    height: 60px;
    width: 85%;
    
    border: none; 
    outline: 0;

    text-align: left;
    font-size: 40px;
    color: white;    
}


/* ------------------------------ Div Senha ---------------------------*/
.campo-senha{
    background-color: rgb(166, 198,226,0.6);
    margin: 2% auto;
   
    height: 60px;
    width: 90%;
    max-width: 430px;
    border-radius: 10px; 
}
.campo-senha img{
    width: 40px;
    height: 40px;
    float: left;

    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0, -50%); 
}
.campo-senha input{
    background-color: transparent;

    height: 60px;
    width: 85%;
    
    border: none; 
    outline: 0;

    text-align: left;
    font-size: 40px;
    color: white;    
}    

/* ------------------------------ Placeholder ---------------------------*/
input::placeholder{
    color: white;
    border: none;
}

/* ------------------------------ Mensagens de Erro ---------------------------*/

.msg_erro_login{
    color:WHITE;
    background-color: rgba(255, 0, 0, 0.6);

    width: 85%;
    height: min-content;
    border-radius: 10px; 

    margin:0 auto;
    padding: 0;


    font-size: 20px;
    text-align: center;
}

.msg_erro_login p{
    margin: 0;
    margin-bottom: 10px;
}

.msg_erro_rota{
    color:white;
    background-color: rgba(255, 165, 0, 0.8);

    width: 85%;
    height: min-content;
    border-radius: 10px; 

    margin:0 auto;
    padding: 0;


    font-size: 20px;
    text-align: center;
}

.msg_erro_rota p{
    margin: 0;
    margin-bottom: 10px;
}




/* ------------------------------ Botão Entrar ---------------------------*/

.button-entrar{
    width: fit-content;
    margin: 5% auto;
}
.button-entrar button {
    width: fit-content;
    height: fit-content;
    
    background-color: rgb(166, 198,226,0.8);
    border-radius: 5px;
    border: 2px solid white;;

    font-size: 40px;
    color: white;


    text-align: center;
    text-shadow: 3px 3px 3px black;  
    transition: 1s;
}

.button-entrar button:hover{
    
    cursor: pointer;
    box-shadow: inset 0px -1px 5px rgba(255,255,255,1);
    text-shadow: 2px 2px 2px rgba(255,255,255,0.5);
    transition: 1s;
}

/* ------------------------------ Responsividade   ---------------------------*/
/* 
@media(max-width:800px) and (max-height:900px){

}
*/

/* ------------------------------ Responsividade 600px width ---------------------------*/
@media(max-width: 700px){
    .tela-login{
        width: 90vw;
        max-height: max-content;
    }
}


/* ------------------------------ Responsividade 900px heigth ---------------------------*/
 @media(max-height: 900px){

    .tela-login{
        display: grid;
        grid-template-columns: 50% 50%;
        height: max-content;
        min-width: 600px;
    }
    
    .logo img{
        margin: 1%;
        width: 300px;
        height: 300px;
    }
    .div_login{
        margin: 1%;
        width: 90%;
    }


}





