body{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
}


.modal{
    display: block;
    position: fixed;
    z-index: 2;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content{
    background-color: #87ceeb;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 400px;
    min-width: min-content; 

    max-height: max-content;
    min-height: min-content;
    
    border-radius: 15px;
    border: 2px solid black;

    padding: 20px;
    overflow: auto;
}

/* ------------------------------------FECHAR--------------------------- */
.modal-content span{
    color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    font-size: 25px;
}

.close:hover{
    cursor: pointer;
}

.closeEdit{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-size: 5px;
}

.closeEdit:hover{
    cursor: pointer;
}

/* ------------------------------------CABEÇALHO--------------------------- */
.modal-head-new-user{
    color: black;
    text-align: center;
    border-bottom: solid 1px;
}
.modal-head-new-user h1{
    margin: 0;
    font-size: 150%;
    
}

/* ------------------------------------CAMPOS--------------------------- */
.modal-content-body{
    color: black;
    width: min-content;
    margin: 10% auto;
    text-align: left;    
}
.modal-content-body label{
    font-size: 60%;
    margin-bottom: 0;
}

.modal-content-body input{
    height: 30px;
    width: 200px;
    border-radius: 10px; 
}

.name{
    width: min-content;
}


/* ------------------------------------BOTÃO CADASTRAR--------------------------- */
.cadastrar{
    width: 150px;
    height: min-content;
    margin: 20px auto;
    background-color: #6495ED;
    border-radius: 50px;
    border: 1px solid black;
    text-align: center;

}
.cadastrar button{
    font-size: 70%;
    vertical-align: middle;
    padding-bottom:5px;
}

.cadastrar button:hover{
        cursor: pointer;
    }


/* ------------------------------------RESPONSIVIDADE--------------------------- */
@media(min-width:400px){

}

@media(max-height:900px){

  
    .modal-content-body{
        height: 40vh;
        display: grid;
 
        grid-template-areas:
        'name phone'
        'email senha'
        'cadastrar cadastrar';

        gap: 5px;
    }

    .modal-head-new-user{
        text-align: center;
    }

}

#cabecalho{
    grid-area: cabecalho;
}
#name{
    grid-area: name; 
}

#phone{
    grid-area: phone;
}

#email{
    grid-area: email;
}

#senha{
    grid-area: senha;
}

#cadastrar{
    grid-area: cadastrar;
}