
html, body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

body {
    font-family: 'Roboto', sans-serif; font-size: 18px;
}

.navegacao {
    background-color: #6495ed;
}

nav {
    height: 87px;
    background-color: #6495ed;
    display: grid;
    grid-template-columns: 23.83% 41.01% 35.16%;
} 

.icon {
    height: 87px;
}

.icon img {
    padding-left: 10%;
    max-height: 87px;
}

.navigation {
    height: 87px;
    vertical-align: top;
    display: flex;
    width: 100%;
}

.navigation ul {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.navigation li {
    list-style: none;
    display: inline-block;
    line-height: 87px;
}

.navigation .home{
    padding-right: 30%;
}

.navigation .posts{
    padding-right: 30%;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.navigation li a:hover {
    color: black;
}

.navigation li.threeline{
    display: none;
}

.navigation li.threeline:hover {
    cursor: pointer;
}

.botton {
    height: 87px;
    vertical-align: top;
    line-height: 87px;
    text-align: right;
}

.criar {
    margin-right: 10%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    background-color: #5088ED;
    color: black;
    box-shadow: 2px 2px 1px #303030;
}

.criar a {
    text-decoration: none;
    text-align: center;
}

.criar:hover {
    background-color: #3266c7;
}

.navmobile {
    display: none;
}


@media (max-width: 1500px) {
    .navigation .home{
        padding-right: 21%;
    }
    
    .navigation .posts{
        padding-right: 21%;
    }  
} 


@media (max-width: 1000px) {

    nav {
        grid-template-columns: 25% 25% 45%;
    } 

    .navigation ul {
        text-align: left;
    }
    
    .navigation li {
        display: none;
    }
    
    .navigation li.threeline {
        display: inline-block;
        line-height: 50px;
        margin-top: 18.5px;
        border-left-style: solid;
        border-left-width: thin;
        padding-left: 15%;
    }

    .botton {
        padding-right: 6%;
    }

    .criar{
        margin-right: 0;
    }

    .navjs {
        display: block;
        background-color: #6495ed;
        height: auto;
        width: 100%;
    }

    .navjs ul {
        margin: 0;
        padding-bottom: 15px;
    }

    .navjs li {
        list-style: none;
        line-height: 50px;
    }

    .navjs a {
        text-decoration: none;
        color: white;
    }

    .navjs a:hover {
        color: black;
    }

}

@media (max-width: 500px) {
    .criar {
        font-size: 14px;
    }
}

@media (max-width: 300px) {
    nav {
    grid-template-columns: 35% 25% 35%;
    }
}