html body {
    width: 100%;
    height: 100%;
    background-color: #87ceeb;
}

.card-container {
    position: absolute;
    top: 5%;
    left: 21%;
    width: 68vw;
    height: 90%;
    background-color: #A6C6E2;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #FFF;
    margin: 0 auto;
    color: white;
}

.card-title {
    scale: 170%;
    position: absolute;
    top: 8%;
    font-size: 24px;
    font-weight: bold;
    margin: 13px;
    left: 44%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card-content {
    padding: 20px;
    border-radius: 26px;
    background: #4682B4;
    box-shadow: 0px 0px 10px 5px #FFF;
    width: 50%;
    min-height: 45%;
    position: absolute;
    top: 20%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


.card-text {
    margin-top: -2%;
    color: #FFF;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.card-areaComent {
    width: 15%;
    height: 100%;
    position: absolute;
    background-color: #4682B4;
    left: 85%;
    top: 0%;
}

.overlay-image {
    position: absolute;
    width: 21%;
    height: 20%;
    top: -4%;
    left: -7%;
    z-index: 2;
}

.marcaDagua {
    position: absolute;
    width: 15%;
    height: 28%;
    top: -8.5%;
    left: -4%;
    z-index: 2;
}

.icone {
    position: absolute;
    width: 32%;
    height: 36%;
    top: 34%;
    left: -6%;
    z-index: 2;
}

.holograma {
    position: absolute;
    width: 27%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 2;
}

.comment-form{
    padding: 20px;
    background: #a6c6e2;
    color: #fff;
    border: none;
    padding: 8px;
    width: 80%;
    height: 18%;
    position: relative;
    left: 4%;
    bottom: -2%;
}
.comment-chat {
    width: 100%;
    position: relative;
    left: -4%;
}

.comment-item {
    background-color: #a6c6e2;
    margin-bottom: 10px;
    padding: 5px;
    width: 85%;
    min-height: 115px; /* Defina uma altura mínima desejada */
    position: relative;
    left: 4%;
    display: flex; /* Use flexbox para centralizar o conteúdo */
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;
}

.comment-text {
    background-color: #4682b4;
    border-radius: 15%;
    padding: 5%;
    position: relative;
    top: 10%;
    overflow: auto;
}

.comment-list {
    margin-top: 20px;
    overflow: auto;
    height: 75%;
}


.comment-rating {
    font-weight: bold;
    margin-top: 5px;
    font-size: 87%;
}

.rating {
    margin-top: 10px;
    position: relative;
    top: -5%;
}

.rating input[type="radio"] {
    margin-right: 5px;
}

.rating span {
    font-weight: bold;
}

.cont-stars{
    position: relative;
    left: -5%;
    width: 110%;
}

.comment-username{
    margin: auto;
    background-color: #4682b4;
    border-radius: 24%;
    padding-left: 11%;
    width: 55%;
    position: relative;
}

@media screen and (max-width: 1350px) {
    /* Estilos para telas menores */
    .card-container {
        width: 85%;
        height: 80%;
        top: 4%;
        left: 7%;
    }
    .card-title {
        top: 5%;
        left: 31%;
        scale: 190%;
        height: auto;
    }
    .card-content {
        top: 15%;
        left: 5%;
        width: 80%;
        max-height: 75%;
    }
    .card-text {
        font-size: 23px;
    }
    .icone {
        scale: 0;
    }
    .holograma{
        scale: 0%;
    }
    .marcaDagua{
        scale: 0%;
    }
    .overlay-image{
        scale: 0%;
    }
    .card-areaComent{
        scale: 0%;
    }
}