<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="navbar">
        <p> &nabla;</p>
        <img src="../../../public/assets/foto-usuario.png">
    </div>

    <div class="content">
        <h1>Bem-vindo de volta, João!</h1>

        <div class="cards-superior">
            <div class="card"> <img src="../../../public/assets/info-usuarios.png">
                <p><span style="font-size: 28px;">50</span> <br> Users</p>
            </div>
            <div class="card"> <img src="../../../public/assets/info-publi.png">
                <p><span style="font-size: 28px;">200</span> <br> Posts </p>
            </div>
            <div class="card"> <img src="../../../public/assets/info-avaliacoes.png">
                <p><span style="font-size: 28px;">100</span> <br> Avaliações </p>
            </div>

        </div>

        <div class="cards-inferior">

            <div class="card"> <img src="../../../public/assets/editar-usuario.png">
                <p>Gerenciar <br>usuários</p>
            </div>
            <div class="card"> <img src="../../../public/assets/editar-post.png">
                <p>Gerenciar<br> Posts </p>
            </div>

        </div>
    </div>
</body>

</html>