<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<title>Novo Usuário</title>
		<link rel="stylesheet" href="../../../public/css/formNewUser.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>


	<body>
        
        <div class="container">
            <h1> Novo Usuário</h1>

            <div class="dados">
                <div class="name">
                    <h2>Nome Completo</h2>       
                    <input class="campo-first-name" type="text" placeholder="Primeiro nome">
                    <input class="campo-last-name" type="text" placeholder="Segundo nome">
                </div>

                <div class="email-senha">
                    <div class="campo-email" >
                        <h2>E-mail</h2>
                        <input type="text">
                    </div>

                    <div class="campo-senha">
                        <h2>Senha</h2>
                        <input type="text">
                    </div>
                </div>
            </div>

            <button>Cadastrar</button>
        </div>

	</body>

</html>