<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição usuários</title>
    <link rel="stylesheet" href="../../../public/css/edit_modal.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <h2>Admin</h2>
        <button class="open-modal" id="open-modal">Editar</button>
    </div>

        <div class="modal" id="modal">
            <div class="modal-content">
                <div class="modal-head">
                    <div class="close-container">
                        <span class="close">&times;</span>
                    </div>
                    <div class="title-container">
                        <h1>Edição de usuários</h1>
                    </div>
                </div>

                <div class="content-body">
                    <div class="name">
                        <h2>Nome</h2>
                        <input type="text" placeholder="Primeiro nome">
                        <input type="text" placeholder="Sobrenomes">
                    </div>

                    <div class="celular">
                        <h2>Telefone</h2>
                        <input type="tel">
                    </div>
                    
                    <div class="email">
                        <h2>E-mail</h2>
                        <input type="email">
                    </div>

                    <div class="senha">
                        <h2>Senha</h2>
                        <input type="password"> 
                    </div>
                      
                    <button class="save">Salvar</button>
                </div>
            </div>
        </div>
        <script src="../../../public/js/edit_modal.js"></script>
</body>
</html>