
<link rel="stylesheet" href="../../../public/css/modalView.css">

<div id="userModal" class="modal-view" style="display: none;">
    <div class="modal-view-content">
        <div class="modal-head">
            <h2>Informações do Usuário</h2>
        </div>
        <div class="content-body">

            <div class="imputNome">
                <label for="userNameInput">
                    <h2>Nome:</h2>
                </label>
                <input type="text" id="userNameInput" class="imp" >
            </div>

            <div class="imputData">
                <label for="userDOBInput">
                    <h2>Data de Nascimento:</h2>
                </label>
                <input type="text" id="userDOBInput" class="imp" readonly>
            </div>

            <div class="imputEmail">
                <label for="userEmailInput">
                    <h2>Email:</h2>
                </label>
                <input type="text" id="userEmailInput" class="imp"  readonly>
            </div>

            <div class="imputPhone">
                <label for="userPhoneInput">
                    <h2>Telefone:</h2>
                </label>
                <input type="text" id="userPhoneInput" class="imp"  readonly>
            </div>

            <span class="close" id="closeUserModalBtn">&times;</span>
        </div>
    </div>
</div>