<head>
    <link rel="stylesheet" href="../../../public/css/modal_delete.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<div id="id01" class="modal" style="display: none;">
    <form class="modal-content" action="/action_page.php">
        <div class="container-d">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <img src="../../../public/assets/Delete-Bin-Trash.png">
            <h2 class="h2-d">Tem certeza?</h2>

            <div class="clearfix">
                <button onclick="document.getElementById('id01').style.display='none'" type="button"
                    class="cancelbtn">Cancelar</button>
                <button type="button" class="deletebtn">Excluir</button>
            </div>
        </div>
    </form>
</div>
</body>