<div id="id01" class="modal" style="display: none;">
       <form class="modal-content"  action="deletePost" method="post">                                   <!-- \criei esta form para fazer o delete -->
        <input  hidden  value="1"   name="id"> 
        <div class="container-d">
            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <img src="../../../public/assets/Delete-Bin-Trash.png">
            <h2>Tem certeza?</h2>

            <div class="clearfix">
                <button onclick="document.getElementById('id01').style.display='none'" type="button"
                    class="cancelbtn">Cancelar</button>
                <button type="submit" class="deletebtn">Excluir</button>
            </div>
        </div>
       </form>
</div>
</body>