<!-- Modal de usuário -->
<div id="userModal" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-head">
            <h2>Informações do Usuário</h2>
        </div>
        <div class="content-body">

            <div class="imputNome">
                <label for="userNameInput">
                    <h2>Nome:</h2>
                </label>
                <input type="text" id="userNameInput" class="imp" value="João da Silva" readonly>
            </div>

            <div class="imputData">
                <label for="userDOBInput">
                    <h2>Data de Nascimento:</h2>
                </label>
                <input type="text" id="userDOBInput" class="imp" value="15 de maio de 1985" readonly>
            </div>

            <div class="imputEmail">
                <label for="userEmailInput">
                    <h2>Email:</h2>
                </label>
                <input type="text" id="userEmailInput" class="imp" value="joao.silva@example.com" readonly>
            </div>

            <div class="imputPhone">
                <label for="userPhoneInput">
                    <h2>Telefone:</h2>
                </label>
                <input type="text" id="userPhoneInput" class="imp" value="(11) 555-1234" readonly>
            </div>

            <span class="close" id="closeUserModalBtn">&times;</span>
        </div>
    </div>
</div>