<!-- Modal de post -->
<div id="postModal" class="modal">
    <div class="modal-content">
        <div class="modal-head">
            <h2>Informações do Post</h2>
        </div>
        <div class="content-body">

            <div class="inputTitulo">
                <label for="postTitleInput">
                    <h2>Título:</h2>
                </label>
                <input type="text" id="postTitleInput" class="imp" value="Título do Post" readonly>
            </div>

            <div class="inputConteudo">
                <label for="postContentInput">
                    <h2>Conteúdo do Post:</h2>
                </label>
                <input type="text" id="postContentInput" class="imp" value="Conteúdo do post aqui" readonly>
            </div>

            <div class="inputAutor">
                <label for="postAuthorInput">
                    <h2>Autor:</h2>
                </label>
                <input type="text" id="postAuthorInput" class="imp" value="Nome do Autor" readonly>
            </div>

            <div class="inputDataHora">
                <label for="postDateTimeInput">
                    <h2>Data/Hora da Postagem:</h2>
                </label>
                <input type="text" id="postDateTimeInput" class="imp" value="Data e hora da postagem" readonly>
            </div>

            <span class="close" id="closePostModalBtn">&times;</span>
        </div>
    </div>
</div>