
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: azure;
    font-family: roboto;
}

.modal-content {
    background-color: #6495ED;
    padding: 20px;
    width: 40%;
    height: 60%;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #000;
    border-radius: 32px;
    border-color: black;
    border-width: 2px 2px;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    color: #000;
    font-family: roboto;
    overflow: auto;
}

.modal-content h2{
    border-bottom: solid 3px;
}

.close {
    color: #000;
    float: right;
    cursor: pointer;
    position: absolute;
    left: 93%;
    width: 3%;
    bottom: 93%;
    border: 2px solid #000; /* Define uma borda de 2 pixels de largura, sólida e preta */
    border-radius: 10px; /* Arredonda os cantos da div em 10 pixels */
    border-color: #000; /* Define a cor da borda como vermelha */
    border-width: 2px 2px; /* Define a largura da borda de 2 pixels no topo e na base, e 4 pixels nos lados esquerdo e direito */
    text-align: center;
    line-height: 1;
}

.highlight {
    background-color: #A6C6E2; /* Azul mais claro (exemplo) */
    padding: 1%; /* Espaçamento interno para destacar o conteúdo */
    margin: 1% 0; /* Espaçamento externo para separar os elementos */
    display: flex; /* Use flexbox para tornar o campo responsivo */
    align-items: center; /* Alinhe verticalmente o conteúdo ao centro */
    border: 2px solid #000; /* Define uma borda de 2 pixels de largura, sólida e preta */
    border-radius: 10px; /* Arredonda os cantos da div em 10 pixels */
    border-color: #ffecec; /* Define a cor da borda como vermelha */
    border-width: 1px 1px; /* Define a largura da borda de 2 pixels no topo e na base, e 4 pixels nos lados esquerdo e direito */
}

#h2 {
    position: relative;
    top: -25%;
    scale: 103%;
}

#label  {
    position: relative;
    top: -25%;
    scale: 103%;
}

.imp {
   
height: 135%;
   
width: auto;
   
border-radius: 7px;
}

.lbl {
   
font-size: 125%;
}