<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="../../../public/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../../../public/js/navbar.js"></script>
</head>

<body>
    <div class="navegacao">
        <nav>
            <div class="icon">
                <img src="../../../public/assets/logo_hello_world_transp.png">
            </div>

            <div class="navigation">
                <ul>
                    <li id="threeline" class="threeline" onclick="openNav()">&#x2630;</a></li>
                    <li class="home"><a href="https://google.com">HOME</a></li>
                    <li class="posts"><a href="https://google.com">POSTS</a></li>
                    <li><a href="https://google.com">TECNOLOGIAS</a></li>
                </ul>
            </div>

            <div class="botton">
                <a href="https://google.com">
                <button class="criar">ENTRAR</button>
                </a>
            </div>
        </nav>

        <div id="navjs" class="navmobile">
            <ul>
                <li><a href="https://google.com">HOME</a></li>
                <li><a href="https://google.com">POSTS</a></li>
                <li><a href="https://google.com">TECNOLOGIAS</a></li>
            </ul>
        </div>
    </div>

</body>

</html>