<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Individual</title>
    <link rel="stylesheet" href=../../../public/css/postIndividual.css>
    <script src="../../../public/js/postIndividual.js"></script>
</head>
<body>
    <div class="card-container">
        <div class="card-content">
            <p class="card-text">JavaScript é uma linguagem de programação essencial para sites interativos. Ela adiciona funcionalidades dinâmicas, como animações e validações de formulários, diretamente nos navegadores dos usuários. É fácil de aprender e funciona em todos os principais navegadores.</p>
        </div>
        <div class="card-content2">
            <p class="card-text2">JavaScript é uma linguagem de programação que desempenha um papel vital na indústria de tecnologia e no campo do desenvolvimento web. Sua versatilidade e capacidade de criar interatividade tornam-na uma ferramenta essencial para profissionais de tecnologia. A demanda por desenvolvedores JavaScript está em constante crescimento devido ao seu amplo espectro de aplicações.
                Desenvolvedores web utilizam JavaScript para criar páginas dinâmicas e sites interativos que respondem às ações dos usuários em tempo real. Isso melhora significativamente a experiência do usuário...</p>
        </div>
        <div class="card-areaComent">
            <form class="comment-form" id="commentForm">
                <input class="comment-chat" type="text" id="commentText" placeholder="Diga sua opinião.">
                <div class="rating">
                    <label for="ratingSelect">Classificação:</label>
                    <select id="ratingSelect" name="rating" class="cont-stars">
                        <option name="rating" value="1">&#11088;&#65039</option>
                        <option name="rating" value="2">&#11088;&#65039&#11088;&#65039</option>
                        <option name="rating" value="3">&#11088;&#65039&#11088;&#65039&#11088;&#65039</option>
                        <option name="rating" value="4">&#11088;&#65039&#11088;&#65039&#11088;&#65039&#11088;&#65039</option>
                        <option name="rating" value="5">&#11088;&#65039&#11088;&#65039&#11088;&#65039&#11088;&#65039&#11088;&#65039</option>
                    </select>
                </div>
                
                <button type="submit">Comentar</button>
            </form>
            <div class="comment-list" id="commentList">
                <!-- Comentários serão adicionados aqui -->
            </div>
           
        </div>
        
        <img src="../../../public/assets//javaScript.png" class="icone">
        <img src="../../../public/assets//holograma.png" class="holograma">
        <img src="../../../public/assets//Ellipse1.png" class="overlay-image">
        <img src="../../../public/assets//marcaDagua.png" class="marcaDagua">
        <div class="card-oculto" id="cardOculto">
            <p>JavaScript é uma linguagem de programação que desempenha um papel vital na indústria de tecnologia e no campo do desenvolvimento web. Sua versatilidade e capacidade de criar interatividade tornam-na uma ferramenta essencial para profissionais de tecnologia. A demanda por desenvolvedores JavaScript está em constante crescimento devido ao seu amplo espectro de aplicações.
                Desenvolvedores web utilizam JavaScript para criar páginas dinâmicas e sites interativos que respondem às ações dos usuários em tempo real. Isso melhora significativamente a experiência do usuário, tornando os sites mais envolventes e funcionais. Com JavaScript, é possível criar elementos como formulários interativos, animações suaves, galerias de imagens deslizantes e muito mais, tudo isso sem a necessidade de recarregar a página. 
                Além disso, JavaScript desempenha um papel fundamental no desenvolvimento de aplicativos web modernos e complexos, permitindo a criação de aplicações de página única (SPA) e o uso de tecnologias como AJAX para carregar dados de forma assíncrona, tornando as aplicações mais rápidas e responsivas.
                Com a sua ampla adoção e comunidade de desenvolvedores ativa, JavaScript continua a evoluir, trazendo novos recursos e bibliotecas que facilitam o desenvolvimento web. Assim, não é surpreendente que JavaScript seja uma habilidade altamente valorizada no mercado de trabalho e uma escolha sólida para aqueles que desejam seguir carreira no desenvolvimento web e tecnologia.</p>
        </div>
        <div class="card-tutorial" id="cardTutorial">
            <p>Em JavaScript, você pode declarar variáveis usando as palavras-chave var, let, ou const. Exemplos:</p>
            <p>var nome = "João"; // Variável com escopo global</p>
            <p>let idade = 25;    // Variável com escopo local</p>
            <p>const PI = 3.1416; // Constante</p>
        </div>
        <button class="ler-button" id="lerButton">Ler Mais</button>
        <button class="tutorial-button" id="tutorialButton">Tutorial</button>

    </div>
</body>
</html>
