<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link rel="stylesheet" href="../../../public/css/sidebar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sidebar">

        <div class="icon">
            <img src="../../../public/assets/logo_hello_world_transp.png">
        </div>

        <div class="threeline-div">
            <p class="threeline">&#x2630;</p>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="https://google.com">HOME</a></li>
                <hr>
                <li><a href="https://google.com">DASHBOARD</a></li>
                <hr>
                <li><a href="https://google.com">LISTA DE POSTS</a></li>
                <hr>
                <li><a href="https://google.com">LISTA DE USUÁRIOS</a></li>
                <hr>
            </ul>
        </div>

        <div class="logout">
            <h4><li><a href="https://google.com">LOG OUT</a></li></h3>
        </div>

    </div>  
</body>

</html>