<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link rel="stylesheet" href="../../../public/css/sidebar.css">
    <script type="text/javascript" src="../../../public/js/sidebar.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    
</head>

<body>
    <div class="sidebar" id="sidebar">
        <div class="top">

            <div class="threeline-div" id="threeline" onclick="opeNav()">
                <p class="threeline">&#x2630;</p>
            </div>

            <div class="icon">
                <img src="../../../public/assets/logo_hello_world_transp.png">
            </div>
        </div>

        <div class="navigation">
            <ul>
                <li>
                    <a href="https://google.com">
                        <span class="material-symbols-outlined">
                            home
                            </span>
                        <span class="list">HOME</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a href="https://google.com">
                        <span class="material-symbols-outlined">
                            dashboard
                            </span>
                        <span class="list">DASHBOARD</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a href="https://google.com">
                        <span class="material-symbols-outlined">
                            format_list_bulleted
                            </span>
                        <span class="list">LISTA DE POSTS</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a href="https://google.com">
                        <span class="material-symbols-outlined">
                            group
                            </span>
                        <span class="list">LISTA DE USUÁRIOS</span>
                    </a>
                </li>
                <hr>
            </ul>
        </div>

        <div class="logout">
            <h4>
                <li>
                    <a href="https://google.com">
                        <span class="material-symbols-outlined">
                            logout
                        </span>
                        <span class="list">LOG OUT</spam>
                    </a>
                </li>
            </h3>
        </div>

    </div>  
</body>

</html>